.title{
    text-wrap: wrap;
}

.title-1{
    font-size: 3rem;
}

.title-2{
    font-size: 2.5rem;
}

.title-3{
    font-size: 2rem;
}

.title-4{
    font-size: 1.5rem;
}

.title-5{
    font-size: 1rem;
}

.title-black{
    color: black;
}

.title-bd{
    color: #00171f;;
}

.title-grey{
    color: #dbddde;
}

.title-grey:hover{
    color: rgb(89, 98, 106);
}

.title-white{
    color: white;
}

.title-w100{
    font-weight: 100;
}

.title-w200{
    font-weight: 200;
}

.title-w300{
    font-weight: 300;
}

.title-w400{
    font-weight: 400;
}

.title-center{
    text-align: center;
}

.title-end{
    text-align: end;
}

.title-start{
    text-align: start;
}